--threads:on


#-d:worldInt
#-d:worldFloat

# -d:release
# -d:dangerous
# -d:strip
-d:debug

# -d:memProfiler 
# --profiler:off

#--profiler:on
--stackTrace:on

--path:"$config/src/algorithms"
--path:"$config/src/application"
--path:"$config/src/basics"
--path:"$config/src/document"
--path:"$config/src/editor"
--path:"$config/src/renderer"
--path:"$config/src/sdl"
--path:"$config/src/ui"

--outdir:"$config/bin"

--define:projectDirCompiled="$config"
